In [91]:
import pandas as pd
import openpyxl as px
import datetime
import calendar
import datetime
from dateutil.relativedelta import relativedelta

#----------------------
# 【１】 年月日を入力
#----------------------
invoice_month = input("請求書を作成する年月を入れてください(例：2110)")

#入力された値をdataに変換
dte = datetime.datetime.strptime(invoice_month, "%y%m")
print(dte)
#エラー処理(日付型に変換できないときに表示させたい) 
# try:
#     print(dte)
# except unconverted data remains:
#     print("正しい値を入力してください。")



#----------------------
# 【６】 日付、お振込み期限
#----------------------


#--------- 日本語でstrftimeが表示できないエラーの回避 -------------------------

import locale
locale.setlocale(locale.LC_CTYPE, "Japanese_Japan.932")

#----------------------------------------------------------------------------


#選択月の末日を習得
def EndOfMonth(dte):
    return dte.replace(day=calendar.monthrange(dte.year, dte.month)[1])

EOM = EndOfMonth(dte)
print(EOM.strftime("%Y年%m月%d日"))


#翌月末を取得
next_month = EOM + relativedelta(months=1)
# print(next_month)

2021-10-01 00:00:00
2021年10月31日

In [3]:
#----------------------
# 【２】 請求書一覧から顧客CDをDFに取得
#----------------------
customer_df = pd.read_excel("請求一覧創造太郎.xlsx", sheet_name="顧客管理テーブル", index=0, header=1)
display(customer_df)

    顧客ＣＤ              顧客名
0   1001   アデックテクノロジー株式会社
1   1002       株式会社サンワテック
2   1003        プロト技研株式会社
3   1004  株式会社AICUBEシステムズ
4   1005       大川情報開発合同会社
5   2001   NGCネットワークス株式会社
6   2002     光栄情報サービス株式会社
7   3001       株式会社クスダ製作所
8   3002      大関西リサーチ株式会社
9   4001      学校法人　さくら学園
10  5001       医療法人社団　弥栄会
11  5002          山脇クリニック
12  6002       H市ロータリークラブ

In [5]:
#----------------------
# 【３】 inputからその月のシートを取得
#----------------------

# invoice_month = input("請求書を作成する年月を入れてください(例：2110)")

sheetname = "請求一覧" + invoice_month

month_df = pd.read_excel("請求一覧創造太郎.xlsx", sheet_name=sheetname, header=2, index=False)
display(month_df)



# ４ 相手先コードのユニークを作成
sup_cd = month_df["相手先コード"].unique()
print(sup_cd)
sup_cd.sort()
print(sup_cd)

,受注No.,相手先名,相手先コード,商品名１,商品名２,検収日,金額（税抜き）,備考
0,210601,NaN,4001,次年度用職員募集,ホームページ作成,10,350000,NaN
1,210602,NaN,2001,FK社名古屋工場向け,ネットワーク設計,16,580000,NaN
2,210701,NaN,1002,SS 社向けプログラム開発,"ss07534, ss07535",20,648000,NaN
3,210702,NaN,1001,TN 社向け営業支援,NaN,20,133000,NaN
4,210803,NaN,4001,次年度用ホームページ,仕様変更対応作業,22,55000,NaN
5,210901,NaN,1001,ＫＹ社向け営業支援,継続活動,25,80000,21年10月分
6,210401,NaN,3001,納品管理システム,変更作業,28,456000,NaN

[4001 2001 1002 1001 3001]
[1001 1002 2001 3001 4001]

In [101]:
#-------------------------------------
# 【７】 各会社ごとにExcelに出力
#-------------------------------------

# month_df[month_df["相手先コード"] == 1001]

import openpyxl as px


wb = px.load_workbook("請求書創造太郎.xlsx")
ws = wb["請求書元"]

def invoice_out():
    if month_df["相手コード"] == sup_cd[i]:
        wb = px.load_workbook("請求書創造太郎.xlsx")
        ws = wb["請求書元"]
        for x in range(1,10,2):
            ws.cell(row = x+17, column = 1, value=)




for i in range(0,len(sup_cd)):
    




#相手先コードが一致する行を順番に出力
    # for customer_cd in sup_cd:
    #     df = month_df[month_df["相手先コード"] == customer_cd] #相手先コードが一致するものを
    #     print("-----------------")
    #     print(df["受注No."])
    #     print(df["商品名１"])




    #         for cell in rows:
    #     for i in range(16,24):
    #             ws.cell(row = i+2, column=1, value=str(df["受注No."])) 


    # wb.save("2021年11月分_請求書【会社名様】.xlsx")

[(<Cell '請求書元'.A18>,), (<MergedCell '請求書元'.A19>,), (<Cell '請求書元'.A20>,), (<MergedCell '請求書元'.A21>,), (<Cell '請求書元'.A22>,), (<MergedCell '請求書元'.A23>,), (<Cell '請求書元'.A24>,), (<MergedCell '請求書元'.A25>,), (<Cell '請求書元'.A26>,)]
-----------------
3    210702
5    210901
Name: 受注No., dtype: int64
3    TN 社向け営業支援
5     ＫＹ社向け営業支援
Name: 商品名１, dtype: object
-----------------
2    210701
Name: 受注No., dtype: int64
2    SS 社向けプログラム開発
Name: 商品名１, dtype: object
-----------------
1    210602
Name: 受注No., dtype: int64
1    FK社名古屋工場向け
Name: 商品名１, dtype: object
-----------------
6    210401
Name: 受注No., dtype: int64
6    納品管理システム
Name: 商品名１, dtype: object
-----------------
0    210601
4    210803
Name: 受注No., dtype: int64
0      次年度用職員募集
4    次年度用ホームページ
Name: 商品名１, dtype: object

In [104]:
import openpyxl as px

ivl_path = "C:/Users/rxxx2/OneDrive/05.ハロトレ/赤柗/01.実制作/code/請求一覧創造太郎.xlsx"
tpl_path = "C:/Users/rxxx2/OneDrive/05.ハロトレ/赤柗/01.実制作/code/請求書創造太郎.xlsx"


wb = px.load_workbook(tpl_path)
ws = wb["請求書元"]


li = [210601, 210701, 210702]
j = 0

print(len(li))


for i in range(1,10,2):
    for j in range(0, len(li)):
        ws.cell(row = i+17, column = 1, value=li[j])
        j += 1


wb.save("2021年10月分_請求書【会社名様】.xlsx")

3

In [98]:
#日付の出力

import openpyxl as px

wb = px.load_workbook("請求書創造太郎.xlsx")
ws = wb["請求書元"]

#----------- 出力セルの定義 ----------------

date_loc = "H1"                # 日付
ivno_loc = "H2"                # 請求書No.
Co_loc = "A6"                  # 会社名
sum_loc = "G28"                # 合計金額
dl_loc = "B35"                 # 振込期限

#------------------------------------------


# 出力コード

ws[date_loc] = EOM.strftime("%Y年%m月%d日") # 日付
# ws["H2"] =                              # 請求書No.
# ws["A6"] = xxxxx + "御中"               # 会社名
# ws["G28"] =                             # 合計金額
ws[dl_loc] = "お振込み期限　　：　　" + next_month.strftime("%Y年%m月%d日")



wb.save("2021年test月分_請求書【会社名様】.xlsx")

<Cell '請求書元'.H1>