In [22]:
import pandas as pd
import openpyxl as px
import datetime
import calendar
import datetime
from dateutil.relativedelta import relativedelta

#----------------------
# １ 年月日を入力
#----------------------
invoice_month = input("請求書を作成する年月を入れてください(例：2110)")

#入力された値をdataに変換
dte = datetime.datetime.strptime(invoice_month, "%y%m")
print(dte)
#エラー処理(日付型に変換できないときに表示させたい) 
# try:
#     print(dte)
# except unconverted data remains:
#     print("正しい値を入力してください。")



#----------------------
# ６ 日付、お振込み期限
#----------------------

#選択月の末日を習得
def EndOfMonth(dte):
    return dte.replace(day=calendar.monthrange(dte.year, dte.month)[1])

EOM = EndOfMonth(dte)
# print(EOM)

#翌月末を取得
next_month = EOM + relativedelta(months=1)
# print(next_month)

2021-12-01 00:00:00
2021-12-31 00:00:00
2022-01-31 00:00:00
<class 'datetime.datetime'>

In [25]:
#----------------------
# ２ 請求書一覧から顧客CDをDFに取得
#----------------------
customer_df = pd.read_excel("請求一覧創造太郎.xlsx", sheet_name="顧客管理テーブル", index=0, header=1)
display(customer_df)

    顧客ＣＤ              顧客名
0   1001   アデックテクノロジー株式会社
1   1002       株式会社サンワテック
2   1003        プロト技研株式会社
3   1004  株式会社AICUBEシステムズ
4   1005       大川情報開発合同会社
5   2001   NGCネットワークス株式会社
6   2002     光栄情報サービス株式会社
7   3001       株式会社クスダ製作所
8   3002      大関西リサーチ株式会社
9   4001      学校法人　さくら学園
10  5001       医療法人社団　弥栄会
11  5002          山脇クリニック
12  6002       H市ロータリークラブ

In [35]:
#----------------------
# ３ inputからその月のシートを取得
#----------------------

invoice_month = input("請求書を作成する年月を入れてください(例：2110)")

sheetname = "請求一覧" + invoice_month

month_df = pd.read_excel("請求一覧創造太郎.xlsx", sheet_name=sheetname, header=2, index=False)
display(month_df)



# ４ 相手先コードのユニークを作成
sup_cd = month_df["相手先コード"].unique()
print(sup_cd)
sup_cd.sort()
print(sup_cd)

,受注No.,相手先名,相手先コード,商品名１,商品名２,検収日,金額（税抜き）,備考
0,210601,NaN,4001,次年度用職員募集,ホームページ作成,10,350000,NaN
1,210602,NaN,2001,FK社名古屋工場向け,ネットワーク設計,16,580000,NaN
2,210701,NaN,1002,SS 社向けプログラム開発,"ss07534, ss07535",20,648000,NaN
3,210702,NaN,1001,TN 社向け営業支援,NaN,20,133000,NaN
4,210803,NaN,4001,次年度用ホームページ,仕様変更対応作業,22,55000,NaN
5,210901,NaN,1001,ＫＹ社向け営業支援,継続活動,25,80000,21年10月分
6,210401,NaN,3001,納品管理システム,変更作業,28,456000,NaN

[4001 2001 1002 1001 3001]
[1001 1002 2001 3001 4001]

In [54]:
#----------------------
# ７ 各会社ごとにExcelに出力
#----------------------

# month_df[month_df["相手先コード"] == 1001]


wb = px.load_workbook("請求書創造太郎.xlsx")
ws = wb["請求書元"]

ord_No = ws["A18:A26"]
ord_No = list(ord_No)


for customer_cd in sup_cd:
    df = month_df[month_df["相手先コード"] == customer_cd]
    for i in ord_No:
        i.value = df["受注No."]

wb.save("2021年10月分_請求書【会社名様】.xlsx")

AttributeError: 'tuple' object has no attribute 'value'