In [16]:
import pandas as pd
import openpyxl as px
import datetime

#----------------------
#年月日を入力
#----------------------
invoice_mounth = input("請求書を作成する年月を入れてください(例：2110)")

#入力された値をdataに変換
dte = datetime.datetime.strptime(invoice_mounth, "%y%m")

#エラー処理(日付型に変換できないときに表示させたい) 
# try:
#     print(dte)
# except unconverted data remains:
#     print("正しい値を入力してください。")

In [22]:
#----------------------
#請求書一覧から顧客CDをDFに取得
#----------------------
customer_df = pd.read_excel("請求一覧創造太郎.xlsx", sheet_name="顧客管理テーブル", index_col=0)
display(customer_df)

           Unnamed: 1
顧客ＣＤ              顧客名
1001   アデックテクノロジー株式会社
1002       株式会社サンワテック
1003        プロト技研株式会社
1004  株式会社AICUBEシステムズ
1005       大川情報開発合同会社
2001   NGCネットワークス株式会社
2002     光栄情報サービス株式会社
3001       株式会社クスダ製作所
3002      大関西リサーチ株式会社
4001      学校法人　さくら学園
5001       医療法人社団　弥栄会
5002          山脇クリニック
6002       H市ロータリークラブ